{
  "summary": {
    "totalLambdaFunctions": 115,
    "documentedEndpoints": 112,
    "completionPercentage": 100,
    "qualityScore": 100
  },
  "openApiValidation": {
    "valid": true,
    "spec": {
      "openapi": "3.0.0",
      "info": {
        "title": "HASIVU Platform API - Complete Specification",
        "version": "1.0.0",
        "description": "Smart School Food Delivery System with RFID Verification - Comprehensive serverless API with 106+ Lambda functions\\n\\n## Security\\n\\nThis API implements comprehensive security measures:\\n\\n- **JWT Authentication**: Bearer token authentication using AWS Cognito\\n- **Rate Limiting**: Endpoint-specific rate limits to prevent abuse\\n- **Input Validation**: Strict validation using Zod schemas\\n- **CORS**: Properly configured cross-origin resource sharing\\n- **ReDoS Protection**: All regex patterns use secure, bounded constructs\\n\\n## Rate Limiting\\n\\nRate limits are enforced per endpoint category:\\n\\n- **authentication**: 10 requests per minute per IP\\n- **userManagement**: 100 requests per minute per user\\n- **healthCheck**: No limit\\n- **menuManagement**: 200 requests per minute per user\\n- **orderManagement**: 50 requests per minute per user\\n- **rfidManagement**: 100 requests per minute per device\\n- **paymentProcessing**: 20 requests per minute per user\\n- **notifications**: 50 requests per minute per user\\n- **analytics**: 100 requests per minute per user\\n- **nutrition**: 50 requests per minute per user\\n- **enterprise**: 200 requests per minute per user\\n- **parentDashboard**: 100 requests per minute per user\\n- **templates**: 50 requests per minute per user\\n- **mobile**: 200 requests per minute per device\\n- **vendorManagement**: 50 requests per minute per user\\n- **staticContent**: 1000 requests per minute per IP\\n- **monitoring**: 100 requests per minute per user\\n\\n## API Versioning\\n\\nThis API uses semantic versioning. Breaking changes increment the major version.\\n\\nCurrent version: **v1.0.0**\\n\\nVersioning strategies supported:\\n- URL path versioning: `/api/v1/...`\\n- Accept header versioning: `application/vnd.hasivu.v1+json`",
        "contact": {
          "name": "HASIVU Platform Team",
          "url": "https://hasivu.com",
          "email": "api-support@hasivu.com"
        },
        "license": {
          "name": "MIT",
          "url": "https://opensource.org/licenses/MIT"
        },
        "termsOfService": "https://hasivu.com/terms"
      },
      "servers": [
        {
          "url": "https://api.hasivu.com",
          "description": "Production server"
        },
        {
          "url": "https://staging-api.hasivu.com",
          "description": "Staging server"
        },
        {
          "url": "http://localhost:3001",
          "description": "Development server"
        }
      ],
      "security": [
        {
          "CognitoAuth": []
        }
      ],
      "components": {
        "securitySchemes": {
          "CognitoAuth": {
            "type": "http",
            "scheme": "bearer",
            "bearerFormat": "JWT",
            "description": "AWS Cognito JWT token authentication. Format: 'Bearer {token}'"
          },
          "ApiKeyAuth": {
            "type": "apiKey",
            "in": "header",
            "name": "X-API-Key",
            "description": "API key for service-to-service authentication"
          },
          "WebhookAuth": {
            "type": "apiKey",
            "in": "header",
            "name": "X-Webhook-Signature",
            "description": "Webhook signature for secure webhook handling"
          }
        },
        "schemas": {
          "Error": {
            "type": "object",
            "required": ["success", "error", "meta"],
            "properties": {
              "success": {
                "type": "boolean",
                "example": false
              },
              "error": {
                "type": "object",
                "required": ["code", "message"],
                "properties": {
                  "code": {
                    "type": "string",
                    "example": "VALIDATION_ERROR",
                    "enum": [
                      "VALIDATION_ERROR",
                      "AUTHENTICATION_ERROR",
                      "AUTHORIZATION_ERROR",
                      "NOT_FOUND",
                      "CONFLICT",
                      "RATE_LIMIT_EXCEEDED",
                      "INTERNAL_ERROR",
                      "SERVICE_UNAVAILABLE",
                      "PAYMENT_ERROR",
                      "RFID_ERROR"
                    ]
                  },
                  "message": {
                    "type": "string",
                    "example": "Invalid input data"
                  },
                  "details": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "field": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "value": {
                          "oneOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            },
                            {
                              "type": "boolean"
                            }
                          ]
                        }
                      }
                    }
                  }
                }
              },
              "meta": {
                "$ref": "#/components/schemas/ResponseMeta"
              }
            }
          },
          "SuccessResponse": {
            "type": "object",
            "required": ["success", "data", "meta"],
            "properties": {
              "success": {
                "type": "boolean",
                "example": true
              },
              "data": {
                "type": "object",
                "description": "Response payload - structure varies by endpoint"
              },
              "meta": {
                "$ref": "#/components/schemas/ResponseMeta"
              }
            }
          },
          "ResponseMeta": {
            "type": "object",
            "required": ["timestamp", "correlationId"],
            "properties": {
              "timestamp": {
                "type": "string",
                "format": "date-time",
                "example": "2025-01-21T10:30:00.000Z"
              },
              "correlationId": {
                "type": "string",
                "format": "uuid",
                "example": "550e8400-e29b-41d4-a716-446655440000"
              },
              "requestId": {
                "type": "string",
                "example": "req_1234567890abcdef"
              },
              "version": {
                "type": "string",
                "example": "1.0.0"
              },
              "executionTime": {
                "type": "number",
                "description": "Execution time in milliseconds",
                "example": 125
              }
            }
          },
          "PaginationMeta": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ResponseMeta"
              },
              {
                "type": "object",
                "properties": {
                  "pagination": {
                    "type": "object",
                    "required": ["page", "limit", "total", "pages"],
                    "properties": {
                      "page": {
                        "type": "integer",
                        "minimum": 1,
                        "example": 1
                      },
                      "limit": {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 100,
                        "example": 20
                      },
                      "total": {
                        "type": "integer",
                        "minimum": 0,
                        "example": 150
                      },
                      "pages": {
                        "type": "integer",
                        "minimum": 0,
                        "example": 8
                      },
                      "hasNext": {
                        "type": "boolean",
                        "example": true
                      },
                      "hasPrev": {
                        "type": "boolean",
                        "example": false
                      }
                    }
                  }
                }
              }
            ]
          },
          "User": {
            "type": "object",
            "required": ["id", "email", "firstName", "lastName", "role"],
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid",
                "example": "550e8400-e29b-41d4-a716-446655440000"
              },
              "email": {
                "type": "string",
                "format": "email",
                "example": "student@school.edu"
              },
              "firstName": {
                "type": "string",
                "minLength": 1,
                "maxLength": 50,
                "example": "John"
              },
              "lastName": {
                "type": "string",
                "minLength": 1,
                "maxLength": 50,
                "example": "Doe"
              },
              "role": {
                "type": "string",
                "enum": ["student", "parent", "teacher", "staff", "school_admin", "admin", "super_admin"],
                "example": "student"
              },
              "schoolId": {
                "type": "string",
                "format": "uuid",
                "example": "123e4567-e89b-12d3-a456-426614174000"
              },
              "phone": {
                "type": "string",
                "pattern": "^[+]?[1-9]?[0-9]{7,15}$",
                "example": "+1234567890"
              },
              "createdAt": {
                "type": "string",
                "format": "date-time",
                "example": "2025-01-21T10:30:00.000Z"
              },
              "updatedAt": {
                "type": "string",
                "format": "date-time",
                "example": "2025-01-21T10:30:00.000Z"
              },
              "isActive": {
                "type": "boolean",
                "example": true
              },
              "preferences": {
                "type": "object",
                "properties": {
                  "language": {
                    "type": "string",
                    "enum": ["en", "hi", "ta", "es", "fr"],
                    "example": "en"
                  },
                  "notifications": {
                    "type": "boolean",
                    "example": true
                  },
                  "theme": {
                    "type": "string",
                    "enum": ["light", "dark"],
                    "example": "light"
                  }
                }
              }
            }
          },
          "MenuItem": {
            "type": "object",
            "required": ["id", "name", "price", "category"],
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "name": {
                "type": "string",
                "minLength": 1,
                "maxLength": 100,
                "example": "Grilled Chicken Sandwich"
              },
              "description": {
                "type": "string",
                "maxLength": 500,
                "example": "Freshly grilled chicken breast with lettuce and tomato"
              },
              "price": {
                "type": "number",
                "multipleOf": 0.01,
                "minimum": 0,
                "example": 12.99
              },
              "category": {
                "type": "string",
                "enum": ["appetizer", "main", "dessert", "beverage", "snack"],
                "example": "main"
              },
              "cuisine": {
                "type": "string",
                "example": "Continental"
              },
              "isVegetarian": {
                "type": "boolean",
                "example": false
              },
              "isVegan": {
                "type": "boolean",
                "example": false
              },
              "allergens": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": ["nuts", "dairy", "gluten", "soy", "eggs", "shellfish", "fish"]
                },
                "example": ["gluten"]
              },
              "nutritionInfo": {
                "type": "object",
                "properties": {
                  "calories": {
                    "type": "number",
                    "example": 320
                  },
                  "protein": {
                    "type": "number",
                    "example": 25
                  },
                  "carbs": {
                    "type": "number",
                    "example": 30
                  },
                  "fat": {
                    "type": "number",
                    "example": 8
                  }
                }
              },
              "imageUrl": {
                "type": "string",
                "format": "uri",
                "example": "https://cdn.hasivu.com/images/menu/chicken-sandwich.jpg"
              },
              "isAvailable": {
                "type": "boolean",
                "example": true
              },
              "schoolId": {
                "type": "string",
                "format": "uuid"
              }
            }
          },
          "Order": {
            "type": "object",
            "required": ["id", "userId", "items", "totalAmount", "status"],
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "orderNumber": {
                "type": "string",
                "example": "ORD-2025-001234"
              },
              "userId": {
                "type": "string",
                "format": "uuid"
              },
              "schoolId": {
                "type": "string",
                "format": "uuid"
              },
              "items": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "menuItemId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "quantity": {
                      "type": "integer",
                      "minimum": 1,
                      "example": 2
                    },
                    "unitPrice": {
                      "type": "number",
                      "example": 12.99
                    },
                    "customizations": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": ["No onions", "Extra cheese"]
                    }
                  }
                }
              },
              "totalAmount": {
                "type": "number",
                "multipleOf": 0.01,
                "minimum": 0,
                "example": 25.98
              },
              "currency": {
                "type": "string",
                "enum": ["INR", "USD"],
                "example": "INR"
              },
              "status": {
                "type": "string",
                "enum": ["pending", "confirmed", "preparing", "ready", "delivered", "cancelled"],
                "example": "confirmed"
              },
              "deliveryType": {
                "type": "string",
                "enum": ["pickup", "delivery"],
                "example": "pickup"
              },
              "deliveryTime": {
                "type": "string",
                "format": "date-time"
              },
              "deliveryLocation": {
                "type": "string",
                "example": "Classroom 5B"
              },
              "paymentStatus": {
                "type": "string",
                "enum": ["pending", "paid", "failed", "refunded"],
                "example": "paid"
              },
              "rfidVerification": {
                "type": "object",
                "properties": {
                  "cardNumber": {
                    "type": "string",
                    "example": "RFID123456789"
                  },
                  "verifiedAt": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "verifiedBy": {
                    "type": "string",
                    "example": "Delivery Staff"
                  }
                }
              },
              "createdAt": {
                "type": "string",
                "format": "date-time"
              },
              "updatedAt": {
                "type": "string",
                "format": "date-time"
              }
            }
          },
          "RFIDCard": {
            "type": "object",
            "required": ["id", "cardNumber", "studentId", "status"],
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "cardNumber": {
                "type": "string",
                "pattern": "^[0-9A-Fa-f]{8,16}$",
                "example": "RFID123456789"
              },
              "studentId": {
                "type": "string",
                "format": "uuid"
              },
              "schoolId": {
                "type": "string",
                "format": "uuid"
              },
              "status": {
                "type": "string",
                "enum": ["active", "inactive", "lost", "expired"],
                "example": "active"
              },
              "expiryDate": {
                "type": "string",
                "format": "date"
              },
              "issueDate": {
                "type": "string",
                "format": "date"
              },
              "lastUsed": {
                "type": "string",
                "format": "date-time"
              },
              "permissions": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": ["order_food", "access_library", "attendance"]
                },
                "example": ["order_food"]
              }
            }
          },
          "PaymentOrder": {
            "type": "object",
            "required": ["id", "amount", "currency", "status"],
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "orderId": {
                "type": "string",
                "example": "order_123456789"
              },
              "amount": {
                "type": "number",
                "multipleOf": 0.01,
                "minimum": 0,
                "example": 25.98
              },
              "currency": {
                "type": "string",
                "enum": ["INR", "USD"],
                "example": "INR"
              },
              "status": {
                "type": "string",
                "enum": ["created", "pending", "paid", "failed", "cancelled", "refunded"],
                "example": "paid"
              },
              "paymentMethod": {
                "type": "string",
                "enum": ["card", "wallet", "upi", "bank_transfer"],
                "example": "upi"
              },
              "gatewayOrderId": {
                "type": "string",
                "example": "razorpay_order_123456"
              },
              "gatewayPaymentId": {
                "type": "string",
                "example": "razorpay_payment_789012"
              },
              "receipt": {
                "type": "string",
                "example": "receipt_001234"
              },
              "createdAt": {
                "type": "string",
                "format": "date-time"
              },
              "paidAt": {
                "type": "string",
                "format": "date-time"
              }
            }
          },
          "Notification": {
            "type": "object",
            "required": ["id", "type", "title", "message", "userId"],
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "type": {
                "type": "string",
                "enum": [
                  "order_confirmation",
                  "payment_success",
                  "delivery_notification",
                  "system_alert",
                  "promotional"
                ],
                "example": "order_confirmation"
              },
              "title": {
                "type": "string",
                "maxLength": 100,
                "example": "Order Confirmed"
              },
              "message": {
                "type": "string",
                "maxLength": 500,
                "example": "Your lunch order has been confirmed and will be ready at 12:30 PM"
              },
              "userId": {
                "type": "string",
                "format": "uuid"
              },
              "channels": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": ["email", "sms", "push", "whatsapp"]
                },
                "example": ["push", "email"]
              },
              "data": {
                "type": "object",
                "description": "Additional structured data for the notification"
              },
              "isRead": {
                "type": "boolean",
                "example": false
              },
              "sentAt": {
                "type": "string",
                "format": "date-time"
              },
              "readAt": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        },
        "parameters": {
          "PageParam": {
            "name": "page",
            "in": "query",
            "description": "Page number (1-based)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          "LimitParam": {
            "name": "limit",
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          "SearchParam": {
            "name": "search",
            "in": "query",
            "description": "Search query string",
            "schema": {
              "type": "string",
              "maxLength": 100
            }
          },
          "SortParam": {
            "name": "sort",
            "in": "query",
            "description": "Sort field and direction (e.g., 'createdAt:desc')",
            "schema": {
              "type": "string",
              "pattern": "^[a-zA-Z][a-zA-Z0-9]*:(asc|desc)$"
            }
          }
        },
        "responses": {
          "BadRequest": {
            "description": "Bad Request - Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "validation_error": {
                    "summary": "Validation Error",
                    "value": {
                      "success": false,
                      "error": {
                        "code": "VALIDATION_ERROR",
                        "message": "Validation failed",
                        "details": [
                          {
                            "field": "email",
                            "message": "Please provide a valid email address",
                            "value": "invalid-email"
                          }
                        ]
                      },
                      "meta": {
                        "timestamp": "2025-01-21T10:30:00.000Z",
                        "correlationId": "550e8400-e29b-41d4-a716-446655440000"
                      }
                    }
                  }
                }
              }
            }
          },
          "Unauthorized": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "missing_token": {
                    "summary": "Missing Authorization Token",
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTHENTICATION_ERROR",
                        "message": "Authentication token is required"
                      },
                      "meta": {
                        "timestamp": "2025-01-21T10:30:00.000Z",
                        "correlationId": "550e8400-e29b-41d4-a716-446655440000"
                      }
                    }
                  },
                  "invalid_token": {
                    "summary": "Invalid Token",
                    "value": {
                      "success": false,
                      "error": {
                        "code": "AUTHENTICATION_ERROR",
                        "message": "Invalid or expired authentication token"
                      },
                      "meta": {
                        "timestamp": "2025-01-21T10:30:00.000Z",
                        "correlationId": "550e8400-e29b-41d4-a716-446655440000"
                      }
                    }
                  }
                }
              }
            }
          },
          "Forbidden": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "NotFound": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "Conflict": {
            "description": "Conflict - Resource already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "RateLimitExceeded": {
            "description": "Rate Limit Exceeded",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Request limit per time window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining requests in current window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Time when rate limit resets (Unix timestamp)",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "InternalServerError": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "ServiceUnavailable": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "paths": {
        "/health": {
          "get": {
            "tags": ["Health Check"],
            "summary": "Basic health check",
            "description": "Basic health check. Part of Health Check API.",
            "operationId": "getHealth",
            "security": [],
            "parameters": [],
            "responses": {
              "200": {
                "description": "Operation successful",
                "content": {
                  "application/json": {
                    "schema": {
                      "$ref": "#/components/schemas/SuccessResponse"
                    }
                  }
                }
              },
              "400": {
                "$ref": "#/components/responses/BadRequest"
              },
              "401": {
                "$ref": "#/components/responses/Unauthorized"
              },
              "403": {
                "$ref": "#/components/responses/Forbidden"
              },
              "404": {
                "$ref": "#/components/responses/NotFound"
              },
              "500": {
                "$ref": "#/components/responses/InternalServerError"
              }
            },
            "x-rate-limit": "No limit"
          }
        },
        "/health/detailed": {
          "get": {
            "tags": ["Health Check"],
            "summary": "Detailed health check with dependencies",
            "description": "Detailed health check with dependencies. Part of Health Check API.",
            "operationId": "getHealth_detailed",
            "security": [],
            "parameters": [],
            "responses": {
              "200": {
                "description": "Operation successful",
                "content": {
                  "application/json": {
                    "schema": {
                      "$ref": "#/components/schemas/SuccessResponse"
                    }
                  }
                }
              },
              "400": {
                "$ref": "#/components/responses/BadRequest"
              },
              "401": {
                "$ref": "#/components/responses/Unauthorized"
              },
              "403": {
                "$ref": "#/components/responses/Forbidden"
              },
              "404": {
                "$ref": "#/components/responses/NotFound"
              },
              "500": {
                "$ref": "#/components/responses/InternalServerError"
              }
            },
            "x-rate-limit": "No limit"
          }
        },
        "/health/ready": {
          "get": {
            "tags": ["Health Check"],
            "summary": "Readiness check for K8s",
            "description": "Readiness check for K8s. Part of Health Check API.",
            "operationId": "getHealth_ready",
            "security": [],
            "parameters": [],
            "responses": {
              "200": {
                "description": "Operation successful",
                "content": {
                  "application/json": {
                    "schema": {
                      "$ref": "#/components/schemas/SuccessResponse"
                    }
                  }
                }
              },
              "400": {
                "$ref": "#/components/responses/BadRequest"
              },
              "401": {
                "$ref": "#/components/responses/Unauthorized"
              },
              "403": {
                "$ref": "#/components/responses/Forbidden"
              },
              "404": {
                "$ref": "#/components/responses/NotFound"
              },
              "500": {
                "$ref": "#/components/responses/InternalServerError"
              }
            },
            "x-rate-limit": "No limit"
          }
        },
        "/health/live": {
          "get": {
            "tags": ["Health Check"],
            "summary": "Liveness check for K8s",
            "description": "Liveness check for K8s. Part of Health Check API.",
            "operationId": "getHealth_live",
            "security": [],
            "parameters": [],
            "responses": {
              "200": {
                "description": "Operation successful",
                "content": {
                  "application/json": {
                    "schema": {
                      "$ref": "#/components/schemas/SuccessResponse"
                    }
                  }
                }
              },
              "400": {
                "$ref": "#/components/responses/BadRequest"
              },
              "401": {
                "$ref": "#/components/responses/Unauthorized"
              },
              "403": {
                "$ref": "#/components/responses/Forbidden"
              },
              "404": {
                "$ref": "#/components/responses/NotFound"
              },
              "500": {
                "$ref": "#/components/responses/InternalServerError"
              }
            },
            "x-rate-limit": "No limit"
          }
        },
        "/auth/register": {
          "post": {
            "tags": ["Authentication"],
            "summary": "Register new user",
            "description": "Register a new user account with AWS Cognito. Supports multiple roles including students, parents, teachers, and administrators.",
            "operationId": "registerUser",
            "security": [],
            "requestBody": {
              "required": true,
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "required": ["email", "password", "firstName", "lastName", "role", "schoolId"],
                    "properties": {
                      "email": {
                        "type": "string",
                        "format": "email",
                        "example": "john.doe@school.edu",
                        "description": "User's email address (must be unique)"
                      },
                      "password": {
                        "type": "string",
                        "minLength": 8,
                        "maxLength": 128,
                        "pattern": "^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*])[\\w!@#$%^&*]{8,128}$",
                        "example": "SecurePass123!",
                        "description": "Password must contain at least one lowercase letter, one uppercase letter, one digit, and one special character"
                      },
                      "firstName": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 50,
                        "example": "John",
                        "description": "User's first name"
                      },
                      "lastName": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 50,
                        "example": "Doe",
                        "description": "User's last name"
                      },
                      "role": {
                        "type": "string",
                        "enum": ["student", "parent", "teacher", "staff", "school_admin", "admin", "super_admin"],
                        "example": "student",
                        "description": "User's role in the system"
                      },
                      "schoolId": {
                        "type": "string",
                        "format": "uuid",
                        "example": "123e4567-e89b-12d3-a456-426614174000",
                        "description": "ID of the school the user belongs to"
                      },
                      "phone": {
                        "type": "string",
                        "pattern": "^[+]?[1-9]?[0-9]{7,15}$",
                        "example": "+1234567890",
                        "description": "User's phone number (optional)"
                      },
                      "dateOfBirth": {
                        "type": "string",
                        "format": "date",
                        "example": "2005-06-15",
                        "description": "Date of birth (required for students)"
                      },
                      "grade": {
                        "type": "string",
                        "example": "10th",
                        "description": "Student's grade level (required for students)"
                      },
                      "parentEmail": {
                        "type": "string",
                        "format": "email",
                        "example": "parent@family.com",
                        "description": "Parent's email address (required for students)"
                      }
                    }
                  },
                  "examples": {
                    "student_registration": {
                      "summary": "Student Registration",
                      "value": {
                        "email": "john.doe@school.edu",
                        "password": "SecurePass123!",
                        "firstName": "John",
                        "lastName": "Doe",
                        "role": "student",
                        "schoolId": "123e4567-e89b-12d3-a456-426614174000",
                        "phone": "+1234567890",
                        "dateOfBirth": "2005-06-15",
                        "grade": "10th",
                        "parentEmail": "parent@family.com"
                      }
                    },
                    "teacher_registration": {
                      "summary": "Teacher Registration",
                      "value": {
                        "email": "teacher@school.edu",
                        "password": "SecurePass123!",
                        "firstName": "Jane",
                        "lastName": "Smith",
                        "role": "teacher",
                        "schoolId": "123e4567-e89b-12d3-a456-426614174000",
                        "phone": "+1234567891"
                      }
                    }
                  }
                }
              }
            },
            "responses": {
              "201": {
                "description": "User registered successfully",
                "content": {
                  "application/json": {
                    "schema": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/SuccessResponse"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "data": {
                              "type": "object",
                              "properties": {
                                "userId": {
                                  "type": "string",
                                  "format": "uuid",
                                  "example": "550e8400-e29b-41d4-a716-446655440000"
                                },
                                "email": {
                                  "type": "string",
                                  "format": "email",
                                  "example": "john.doe@school.edu"
                                },
                                "status": {
                                  "type": "string",
                                  "enum": ["pending_verification", "active"],
                                  "example": "pending_verification"
                                },
                                "verificationRequired": {
                                  "type": "boolean",
                                  "example": true
                                },
                                "message": {
                                  "type": "string",
                                  "example": "Registration successful. Please check your email for verification instructions."
                                }
                              }
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              },
              "400": {
                "$ref": "#/components/responses/BadRequest"
              },
              "409": {
                "$ref": "#/components/responses/Conflict"
              },
              "500": {
                "$ref": "#/components/responses/InternalServerError"
              }
            }
          }
        },
        "/auth/login": {
          "post": {
            "tags": ["Authentication"],
            "summary": "User login",
            "description": "Authenticate user credentials and return JWT tokens for session management",
            "operationId": "loginUser",
            "security": [],
            "requestBody": {
              "required": true,
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "required": ["email", "password"],
                    "properties": {
                      "email": {
                        "type": "string",
                        "format": "email",
                        "example": "john.doe@school.edu",
                        "description": "User's email address"
                      },
                      "password": {
                        "type": "string",
                        "example": "SecurePass123!",
                        "description": "User's password"
                      },
                      "rememberMe": {
                        "type": "boolean",
                        "default": false,
                        "example": true,
                        "description": "Whether to extend session duration"
                      },
                      "deviceInfo": {
                        "type": "object",
                        "properties": {
                          "deviceId": {
                            "type": "string",
                            "example": "device_12345"
                          },
                          "deviceName": {
                            "type": "string",
                            "example": "iPhone 13 Pro"
                          },
                          "platform": {
                            "type": "string",
                            "enum": ["web", "ios", "android"],
                            "example": "web"
                          }
                        }
                      }
                    }
                  },
                  "examples": {
                    "basic_login": {
                      "summary": "Basic Login",
                      "value": {
                        "email": "john.doe@school.edu",
                        "password": "SecurePass123!"
                      }
                    },
                    "extended_session": {
                      "summary": "Login with Extended Session",
                      "value": {
                        "email": "john.doe@school.edu",
                        "password": "SecurePass123!",
                        "rememberMe": true,
                        "deviceInfo": {
                          "deviceId": "device_12345",
                          "deviceName": "iPhone 13 Pro",
                          "platform": "ios"
                        }
                      }
                    }
                  }
                }
              }
            },
            "responses": {
              "200": {
                "description": "Login successful",
                "content": {
                  "application/json": {
                    "schema": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/SuccessResponse"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "data": {
                              "type": "object",
                              "properties": {
                                "accessToken": {
                                  "type": "string",
                                  "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...",
                                  "description": "JWT access token for API authentication"
                                },
                                "refreshToken": {
                                  "type": "string",
                                  "example": "refresh_token_example",
                                  "description": "Refresh token for obtaining new access tokens"
                                },
                                "tokenType": {
                                  "type": "string",
                                  "example": "Bearer",
                                  "description": "Token type for Authorization header"
                                },
                                "expiresIn": {
                                  "type": "integer",
                                  "example": 3600,
                                  "description": "Access token expiration time in seconds"
                                },
                                "user": {
                                  "$ref": "#/components/schemas/User"
                                },
                                "permissions": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "example": ["order_food", "view_menu", "update_profile"]
                                },
                                "sessionId": {
                                  "type": "string",
                                  "format": "uuid",
                                  "example": "550e8400-e29b-41d4-a716-446655440000"
                                }
                              }
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              },
              "400": {
                "$ref": "#/components/responses/BadRequest"
              },
              "401": {
                "$ref": "#/components/responses/Unauthorized"
              },
              "403": {
                "description": "Account locked or requires verification",
                "content": {
                  "application/json": {
                    "schema": {
                      "$ref": "#/components/schemas/Error"
                    },
                    "examples": {
                      "account_locked": {
                        "summary": "Account Locked",
                        "value": {
                          "success": false,
                          "error": {
                            "code": "AUTHORIZATION_ERROR",
                            "message": "Account is temporarily locked due to multiple failed login attempts"
                          },
                          "meta": {
                            "timestamp": "2025-01-21T10:30:00.000Z",
                            "correlationId": "550e8400-e29b-41d4-a716-446655440000"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "500": {
                "$ref": "#/components/responses/InternalServerError"
              }
            }
          }
        },
        "/auth/refresh": {
          "post": {
            "tags": ["Authentication"],
            "summary": "Refresh JWT token",
            "description": "Refresh expired JWT access token using refresh token",
            "operationId": "refreshToken",
            "security": [],
            "requestBody": {
              "required": true,
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "required": ["refreshToken"],
                    "properties": {
                      "refreshToken": {
                        "type": "string",
                        "example": "refresh_token_example",
                        "description": "Valid refresh token"
                      }
                    }
                  }
                }
              }
            },
            "responses": {
              "200": {
                "description": "Token refreshed successfully",
                "content": {
                  "application/json": {
                    "schema": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/SuccessResponse"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "data": {
                              "type": "object",
                              "properties": {
                                "accessToken": {
                                  "type": "string",
                                  "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                                },
                                "tokenType": {
                                  "type": "string",
                                  "example": "Bearer"
                                },
                                "expiresIn": {
                                  "type": "integer",
                                  "example": 3600
                                }
                              }
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              },
              "400": {
                "$ref": "#/components/responses/BadRequest"
              },
              "401": {
                "$ref": "#/components/responses/Unauthorized"
              },
              "500": {
                "$ref": "#/components/responses/InternalServerError"
              }
            }
          }
        },
        "/auth/me": {
          "get": {
            "tags": ["Authentication"],
            "summary": "Get current user profile",
            "description": "Retrieve authenticated user's profile information and permissions",
            "operationId": "getCurrentUser",
            "responses": {
              "200": {
                "description": "User profile retrieved successfully",
                "content": {
                  "application/json": {
                    "schema": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/SuccessResponse"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "data": {
                              "allOf": [
                                {
                                  "$ref": "#/components/schemas/User"
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "permissions": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      },
                                      "example": ["order_food", "view_menu", "update_profile"]
                                    },
                                    "lastLoginAt": {
                                      "type": "string",
                                      "format": "date-time",
                                      "example": "2025-01-21T10:30:00.000Z"
                                    },
                                    "sessionInfo": {
                                      "type": "object",
                                      "properties": {
                                        "sessionId": {
                                          "type": "string",
                                          "format": "uuid"
                                        },
                                        "deviceInfo": {
                                          "type": "object",
                                          "properties": {
                                            "platform": {
                                              "type": "string"
                                            },
                                            "userAgent": {
                                              "type": "string"
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              ]
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              },
              "401": {
                "$ref": "#/components/responses/Unauthorized"
              },
              "500": {
                "$ref": "#/components/responses/InternalServerError"
              }
            }
          }
        },
        "/auth/logout": {
          "post": {
            "tags": ["Authentication"],
            "summary": "User logout",
            "description": "Logout user, invalidate session, and clear tokens",
            "operationId": "logoutUser",
            "requestBody": {
              "required": false,
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "logoutFromAllDevices": {
                        "type": "boolean",
                        "default": false,
                        "example": true,
                        "description": "Whether to logout from all devices"
                      }
                    }
                  }
                }
              }
            },
            "responses": {
              "200": {
                "description": "Logout successful",
                "content": {
                  "application/json": {
                    "schema": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/SuccessResponse"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "data": {
                              "type": "object",
                              "properties": {
                                "message": {
                                  "type": "string",
                                  "example": "Successfully logged out"
                                },
                                "sessionsClosed": {
                                  "type": "integer",
                                  "example": 1,
                                  "description": "Number of sessions that were closed"
                                }
                              }
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              },
              "401": {
                "$ref": "#/components/responses/Unauthorized"
              },
              "500": {
                "$ref": "#/components/responses/InternalServerError"
              }
            }
          }
        },
        "/auth/change-password": {
          "patch": {
            "tags": ["Authentication"],
            "summary": "Change user password",
            "description": "Change authenticated user's password with current password verification",
            "operationId": "changePassword",
            "requestBody": {
              "required": true,
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "required": ["currentPassword", "newPassword", "confirmPassword"],
                    "properties": {
                      "currentPassword": {
                        "type": "string",
                        "example": "CurrentPass123!",
                        "description": "User's current password"
                      },
                      "newPassword": {
                        "type": "string",
                        "minLength": 8,
                        "maxLength": 128,
                        "pattern": "^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*])[\\w!@#$%^&*]{8,128}$",
                        "example": "NewSecurePass123!",
                        "description": "New password meeting security requirements"
                      },
                      "confirmPassword": {
                        "type": "string",
                        "example": "NewSecurePass123!",
                        "description": "Confirmation of new password (must match newPassword)"
                      },
                      "logoutFromOtherDevices": {
                        "type": "boolean",
                        "default": true,
                        "example": true,
                        "description": "Whether to logout from other devices after password change"
                      }
                    }
                  }
                }
              }
            },
            "responses": {
              "200": {
                "description": "Password changed successfully",
                "content": {
                  "application/json": {
                    "schema": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/SuccessResponse"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "data": {
                              "type": "object",
                              "properties": {
                                "message": {
                                  "type": "string",
                                  "example": "Password changed successfully"
                                },
                                "requiresReauth": {
                                  "type": "boolean",
                                  "example": false,
                                  "description": "Whether user needs to re-authenticate"
                                },
                                "sessionsInvalidated": {
                                  "type": "integer",
                                  "example": 3,
                                  "description": "Number of other sessions that were invalidated"
                                }
                              }
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              },
              "400": {
                "$ref": "#/components/responses/BadRequest"
              },
              "401": {
                "$ref": "#/components/responses/Unauthorized"
              },
              "500": {
                "$ref": "#/components/responses/InternalServerError"
              }
            }
          }
        },
        "/auth/profile": {
          "patch": {
            "tags": ["Authentication"],
            "summary": "Update user profile",
            "description": "Update authenticated user's profile information",
            "operationId": "updateUserProfile",
            "requestBody": {
              "required": true,
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "firstName": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 50,
                        "example": "John",
                        "description": "Updated first name"
                      },
                      "lastName": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 50,
                        "example": "Doe",
                        "description": "Updated last name"
                      },
                      "phone": {
                        "type": "string",
                        "pattern": "^[+]?[1-9]?[0-9]{7,15}$",
                        "example": "+1234567890",
                        "description": "Updated phone number"
                      },
                      "preferences": {
                        "type": "object",
                        "properties": {
                          "language": {
                            "type": "string",
                            "enum": ["en", "hi", "ta", "es", "fr"],
                            "example": "en",
                            "description": "Preferred language"
                          },
                          "notifications": {
                            "type": "boolean",
                            "example": true,
                            "description": "Whether to receive notifications"
                          },
                          "theme": {
                            "type": "string",
                            "enum": ["light", "dark"],
                            "example": "light",
                            "description": "UI theme preference"
                          },
                          "timezone": {
                            "type": "string",
                            "example": "Asia/Kolkata",
                            "description": "User's timezone"
                          }
                        }
                      },
                      "dietaryRestrictions": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": ["vegetarian", "vegan", "gluten-free", "lactose-free", "nut-free"]
                        },
                        "example": ["vegetarian", "gluten-free"],
                        "description": "User's dietary restrictions"
                      },
                      "allergens": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": ["nuts", "dairy", "gluten", "soy", "eggs", "shellfish", "fish"]
                        },
                        "example": ["nuts", "dairy"],
                        "description": "User's known allergens"
                      }
                    }
                  }
                }
              }
            },
            "responses": {
              "200": {
                "description": "Profile updated successfully",
                "content": {
                  "application/json": {
                    "schema": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/SuccessResponse"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "data": {
                              "$ref": "#/components/schemas/User"
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              },
              "400": {
                "$ref": "#/components/responses/BadRequest"
              },
              "401": {
                "$ref": "#/components/responses/Unauthorized"
              },
              "500": {
                "$ref": "#/components/responses/InternalServerError"
              }
            }
          }
        },
        "/users": {
          "get": {
            "tags": ["User Management"],
            "summary": "Get all users with filtering",
            "description": "Get all users with filtering. Part of User Management API.",
            "operationId": "getUsers",
            "security": [
              {
                "CognitoAuth": []
              }
            ],
            "parameters": [
              {
                "$ref": "#/components/parameters/PageParam"
              },
              {
                "$ref": "#/components/parameters/LimitParam"
              },
              {
                "$ref": "#/components/parameters/SearchParam"
              },
              {
                "$ref": "#/components/parameters/SortParam"
              }
            ],
            "responses": {
              "200": {
                "description": "Operation successful",
                "content": {
                  "application/json": {
                    "schema": {
                      "$ref": "#/components/schemas/SuccessResponse"
                    }
                  }
                }
              },
              "400": {
                "$ref": "#/components/responses/BadRequest"
              },
              "401": {
                "$ref": "#/components/responses/Unauthorized"
              },
              "403": {
                "$ref": "#/components/responses/Forbidden"
              },
              "404": {
                "$ref": "#/components/responses/NotFound"
              },
              "500": {
                "$ref": "#/components/responses/InternalServerError"
              }
            },
            "x-rate-limit": "100 requests per minute per user"
          }
        },
        "/users/{id}": {
          "get": {
            "tags": ["User Management"],
            "summary": "Get user by ID",
            "description": "Get user by ID. Part of User Management API.",
            "operationId": "getUsersById",
            "security": [
              {
                "CognitoAuth": []
              }
            ],
            "parameters": [
              {
                "name": "id",
                "in": "path",
                "required": true,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                },
                "description": "Id identifier"
              }
            ],
            "responses": {
              "200": {
                "description": "Operation successful",
                "content": {
                  "application/json": {
                    "schema": {
                      "$ref": "#/components/schemas/SuccessResponse"
                    }
                  }
                }
              },
              "400": {
                "$ref": "#/components/responses/BadRequest"
              },
              "401": {
                "$ref": "#/components/responses/Unauthorized"
              },
              "403": {
                "$ref": "#/components/responses/Forbidden"
              },
              "404": {
                "$ref": "#/components/responses/NotFound"
              },
              "500": {
                "$ref": "#/components/responses/InternalServerError"
              }
            },
            "x-rate-limit": "100 requests per minute per user"
          },
          "put": {
            "tags": ["User Management"],
            "summary": "Update user information",
            "description": "Update user information. Part of User Management API.",
            "operationId": "putUsersById",
            "security": [
              {
                "CognitoAuth": []
              }
            ],
            "parameters": [
              {
                "name": "id",
                "in": "path",
                "required": true,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                },
                "description": "Id identifier"
              }
            ],
            "responses": {
              "200": {
                "description": "Resource updated successfully",
                "content": {
                  "application/json": {
                    "schema": {
                      "$ref": "#/components/schemas/SuccessResponse"
                    }
                  }
                }
              },
              "400": {
                "$ref": "#/components/responses/BadRequest"
              },
              "401": {
                "$ref": "#/components/responses/Unauthorized"
              },
              "403": {
                "$ref": "#/components/responses/Forbidden"
              },
              "404": {
                "$ref": "#/components/responses/NotFound"
              },
              "500": {
                "$ref": "#/components/responses/InternalServerError"
              }
            },
            "x-rate-limit": "100 requests per minute per user",
            "requestBody": {
              "required": true,
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "object",
                        "description": "userManagement put data"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "/users/bulk-import": {
          "post": {
            "tags": ["User Management"],
            "summary": "Bulk import users from CSV",
            "description": "Bulk import users from CSV. Part of User Management API.",
            "operationId": "postUsers_bulk-import",
            "security": [
              {
                "CognitoAuth": []
              }
            ],
            "parameters": [],
            "responses": {
              "201": {
                "description": "Resource created successfully",
                "content": {
                  "application/json": {
                    "schema": {
                      "$ref": "#/components/schemas/SuccessResponse"
                    }
                  }
                }
              },
              "400": {
                "$ref": "#/components/responses/BadRequest"
              },
              "401": {
                "$ref": "#/components/responses/Unauthorized"
              },
              "403": {
                "$ref": "#/components/responses/Forbidden"
              },
              "409": {
                "$ref": "#/components/responses/Conflict"
              },
              "500": {
                "$ref": "#/components/responses/InternalServerError"
              }
            },
            "x-rate-limit": "100 requests per minute per user",
            "requestBody": {
              "required": true,
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "object",
                        "description": "userManagement post data"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "/users/{id}/children": {
          "post": {
            "tags": ["User Management"],
            "summary": "Manage parent-child relationships",
            "description": "Manage parent-child relationships. Part of User Management API.",
            "operationId": "postUsersById_children",
            "security": [
              {
                "CognitoAuth": []
              }
            ],
            "parameters": [
              {
                "name": "id",
                "in": "path",
                "required": true,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                },
                "description": "Id identifier"
              }
            ],
            "responses": {
              "201": {
                "description": "Resource created successfully",
                "content": {
                  "application/json": {
                    "schema": {
                      "$ref": "#/components/schemas/SuccessResponse"
                    }
                  }
                }
              },
              "400": {
                "$ref": "#/components/responses/BadRequest"
              },
              "401": {
                "$ref": "#/components/responses/Unauthorized"
              },
              "403": {
                "$ref": "#/components/responses/Forbidden"
              },
              "409": {
                "$ref": "#/components/responses/Conflict"
              },
              "500": {
                "$ref": "#/components/responses/InternalServerError"
              }
            },
            "x-rate-limit": "100 requests per minute per user",
            "requestBody": {
              "required": true,
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "object",
                        "description": "userManagement post data"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "/health/status": {
          "get": {
            "tags": ["Health Check"],
            "summary": "System status overview",
            "description": "System status overview. Part of Health Check API.",
            "operationId": "getHealth_status",
            "security": [],
            "parameters": [
              {
                "$ref": "#/components/parameters/PageParam"
              },
              {
                "$ref": "#/components/parameters/LimitParam"
              },
              {
                "$ref": "#/components/parameters/SearchParam"
              },
              {
                "$ref": "#/components/parameters/SortParam"
              }
            ],
            "responses": {
              "200": {
                "description": "Operation successful",
                "content": {
                  "application/json": {
                    "schema": {
                      "$ref": "#/components/schemas/SuccessResponse"
                    }
                  }
                }
              },
              "400": {
                "$ref": "#/components/responses/BadRequest"
              },
              "401": {
                "$ref": "#/components/responses/Unauthorized"
              },
              "403": {
                "$ref": "#/components/responses/Forbidden"
              },
              "404": {
                "$ref": "#/components/responses/NotFound"
              },
              "500": {
                "$ref": "#/components/responses/InternalServerError"
              }
            },
            "x-rate-limit": "No limit"
          }
        },
        "/health/database": {
          "get": {
            "tags": ["Health Check"],
            "summary": "Database connectivity check",
            "description": "Database connectivity check. Part of Health Check API.",
            "operationId": "getHealth_database",
            "security": [],
            "parameters": [],
            "responses": {
              "200": {
                "description": "Operation successful",
                "content": {
                  "application/json": {
                    "schema": {
                      "$ref": "#/components/schemas/SuccessResponse"
                    }
                  }
                }
              },
              "400": {
                "$ref": "#/components/responses/BadRequest"
              },
              "401": {
                "$ref": "#/components/responses/Unauthorized"
              },
              "403": {
                "$ref": "#/components/responses/Forbidden"
              },
              "404": {
                "$ref": "#/components/responses/NotFound"
              },
              "500": {
                "$ref": "#/components/responses/InternalServerError"
              }
            },
            "x-rate-limit": "No limit"
          }
        },
        "/health/comprehensive": {
          "get": {
            "tags": ["Health Check"],
            "summary": "Comprehensive system health",
            "description": "Comprehensive system health. Part of Health Check API.",
            "operationId": "getHealth_comprehensive",
            "security": [],
            "parameters": [],
            "responses": {
              "200": {
                "description": "Operation successful",
                "content": {
                  "application/json": {
                    "schema": {
                      "$ref": "#/components/schemas/SuccessResponse"
                    }
                  }
                }
              },
              "400": {
                "$ref": "#/components/responses/BadRequest"
              },
              "401": {
                "$ref": "#/components/responses/Unauthorized"
              },
              "403": {
                "$ref": "#/components/responses/Forbidden"
              },
              "404": {
                "$ref": "#/components/responses/NotFound"
              },
              "500": {
                "$ref": "#/components/responses/InternalServerError"
              }
            },
            "x-rate-limit": "No limit"
          }
        },
        "/health/dashboard": {
          "get": {
            "tags": ["Health Check"],
            "summary": "Health dashboard data",
            "description": "Health dashboard data. Part of Health Check API.",
            "operationId": "getHealth_dashboard",
            "security": [],
            "parameters": [],
            "responses": {
              "200": {
                "description": "Operation successful",
                "content": {
                  "application/json": {
                    "schema": {
                      "$ref": "#/components/schemas/SuccessResponse"
                    }
                  }
                }
              },
              "400": {
                "$ref": "#/components/responses/BadRequest"
              },
              "401": {
                "$ref": "#/components/responses/Unauthorized"
              },
              "403": {
                "$ref": "#/components/responses/Forbidden"
              },
              "404": {
                "$ref": "#/components/responses/NotFound"
              },
              "500": {
                "$ref": "#/components/responses/InternalServerError"
              }
            },
            "x-rate-limit": "No limit"
          }
        },
        "/health/system": {
          "get": {
            "tags": ["Health Check"],
            "summary": "System health metrics",
            "description": "System health metrics. Part of Health Check API.",
            "operationId": "getHealth_system",
            "security": [],
            "parameters": [],
            "responses": {
              "200": {
                "description": "Operation successful",
                "content": {
                  "application/json": {
                    "schema": {
                      "$ref": "#/components/schemas/SuccessResponse"
                    }
                  }
                }
              },
              "400": {
                "$ref": "#/components/responses/BadRequest"
              },
              "401": {
                "$ref": "#/components/responses/Unauthorized"
              },
              "403": {
                "$ref": "#/components/responses/Forbidden"
              },
              "404": {
                "$ref": "#/components/responses/NotFound"
              },
              "500": {
                "$ref": "#/components/responses/InternalServerError"
              }
            },
            "x-rate-limit": "No limit"
          }
        },
        "/health/system-status": {
          "get": {
            "tags": ["Health Check"],
            "summary": "Detailed system status",
            "description": "Detailed system status. Part of Health Check API.",
            "operationId": "getHealth_system-status",
            "security": [],
            "parameters": [
              {
                "$ref": "#/components/parameters/PageParam"
              },
              {
                "$ref": "#/components/parameters/LimitParam"
              },
              {
                "$ref": "#/components/parameters/SearchParam"
              },
              {
                "$ref": "#/components/parameters/SortParam"
              }
            ],
            "responses": {
              "200": {
                "description": "Operation successful",
                "content": {
                  "application/json": {
                    "schema": {
                      "$ref": "#/components/schemas/SuccessResponse"
                    }
                  }
                }
              },
              "400": {
                "$ref": "#/components/responses/BadRequest"
              },
              "401": {
                "$ref": "#/components/responses/Unauthorized"
              },
              "403": {
                "$ref": "#/components/responses/Forbidden"
              },
              "404": {
                "$ref": "#/components/responses/NotFound"
              },
              "500": {
                "$ref": "#/components/responses/InternalServerError"
              }
            },
            "x-rate-limit": "No limit"
          }
        },
        "/health/check": {
          "get": {
            "tags": ["Health Check"],
            "summary": "General health check endpoint",
            "description": "General health check endpoint. Part of Health Check API.",
            "operationId": "getHealth_check",
            "security": [],
            "parameters": [],
            "responses": {
              "200": {
                "description": "Operation successful",
                "content": {
                  "application/json": {
                    "schema": {
                      "$ref": "#/components/schemas/SuccessResponse"
                    }
                  }
                }
              },
              "400": {
                "$ref": "#/components/responses/BadRequest"
              },
              "401": {
                "$ref": "#/components/responses/Unauthorized"
              },
              "403": {
                "$ref": "#/components/responses/Forbidden"
              },
              "404": {
                "$ref": "#/components/responses/NotFound"
              },
              "500": {
                "$ref": "#/components/responses/InternalServerError"
              }
            },
            "x-rate-limit": "No limit"
          }
        },
        "/menu/items": {
          "get": {
            "tags": ["Menu Management"],
            "summary": "Get menu items with filtering",
            "description": "Get menu items with filtering. Part of Menu Management API.",
            "operationId": "getMenu_items",
            "security": [
              {
                "CognitoAuth": []
              }
            ],
            "parameters": [
              {
                "$ref": "#/components/parameters/PageParam"
              },
              {
                "$ref": "#/components/parameters/LimitParam"
              },
              {
                "$ref": "#/components/parameters/SearchParam"
              },
              {
                "$ref": "#/components/parameters/SortParam"
              }
            ],
            "responses": {
              "200": {
                "description": "Operation successful",
                "content": {
                  "application/json": {
                    "schema": {
                      "$ref": "#/components/schemas/SuccessResponse"
                    }
                  }
                }
              },
              "400": {
                "$ref": "#/components/responses/BadRequest"
              },
              "401": {
                "$ref": "#/components/responses/Unauthorized"
              },
              "403": {
                "$ref": "#/components/responses/Forbidden"
              },
              "404": {
                "$ref": "#/components/responses/NotFound"
              },
              "500": {
                "$ref": "#/components/responses/InternalServerError"
              }
            },
            "x-rate-limit": "200 requests per minute per user"
          },
          "post": {
            "tags": ["Menu Management"],
            "summary": "Create new menu item",
            "description": "Create new menu item. Part of Menu Management API.",
            "operationId": "postMenu_items",
            "security": [
              {
                "CognitoAuth": []
              }
            ],
            "parameters": [
              {
                "$ref": "#/components/parameters/PageParam"
              },
              {
                "$ref": "#/components/parameters/LimitParam"
              },
              {
                "$ref": "#/components/parameters/SearchParam"
              },
              {
                "$ref": "#/components/parameters/SortParam"
              }
            ],
            "responses": {
              "201": {
                "description": "Resource created successfully",
                "content": {
                  "application/json": {
                    "schema": {
                      "$ref": "#/components/schemas/SuccessResponse"
                    }
                  }
                }
              },
              "400": {
                "$ref": "#/components/responses/BadRequest"
              },
              "401": {
                "$ref": "#/components/responses/Unauthorized"
              },
              "403": {
                "$ref": "#/components/responses/Forbidden"
              },
              "409": {
                "$ref": "#/components/responses/Conflict"
              },
              "500": {
                "$ref": "#/components/responses/InternalServerError"
              }
            },
            "x-rate-limit": "200 requests per minute per user",
            "requestBody": {
              "required": true,
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "object",
                        "description": "menuManagement post data"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "/menu/items/{id}": {
          "get": {
            "tags": ["Menu Management"],
            "summary": "Get menu item by ID",
            "description": "Get menu item by ID. Part of Menu Management API.",
            "operationId": "getMenu_itemsById",
            "security": [
              {
                "CognitoAuth": []
              }
            ],
            "parameters": [
              {
                "name": "id",
                "in": "path",
                "required": true,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                },
                "description": "Id identifier"
              }
            ],
            "responses": {
              "200": {
                "description": "Operation successful",
                "content": {
                  "application/json": {
                    "schema": {
                      "$ref": "#/components/schemas/SuccessResponse"
                    }
                  }
                }
              },
              "400": {
                "$ref": "#/components/responses/BadRequest"
              },
              "401": {
                "$ref": "#/components/responses/Unauthorized"
              },
              "403": {
                "$ref": "#/components/responses/Forbidden"
              },
              "404": {
                "$ref": "#/components/responses/NotFound"
              },
              "500": {
                "$ref": "#/components/responses/InternalServerError"
              }
            },
            "x-rate-limit": "200 requests per minute per user"
          },
          "put": {
            "tags": ["Menu Management"],
            "summary": "Update menu item",
            "description": "Update menu item. Part of Menu Management API.",
            "operationId": "putMenu_itemsById",
            "security": [
              {
                "CognitoAuth": []
              }
            ],
            "parameters": [
              {
                "name": "id",
                "in": "path",
                "required": true,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                },
                "description": "Id identifier"
              }
            ],
            "responses": {
              "200": {
                "description": "Resource updated successfully",
                "content": {
                  "application/json": {
                    "schema": {
                      "$ref": "#/components/schemas/SuccessResponse"
                    }
                  }
                }
              },
              "400": {
                "$ref": "#/components/responses/BadRequest"
              },
              "401": {
                "$ref": "#/components/responses/Unauthorized"
              },
              "403": {
                "$ref": "#/components/responses/Forbidden"
              },
              "404": {
                "$ref": "#/components/responses/NotFound"
              },
              "500": {
                "$ref": "#/components/responses/InternalServerError"
              }
            },
            "x-rate-limit": "200 requests per minute per user",
            "requestBody": {
              "required": true,
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "object",
                        "description": "menuManagement put data"
                      }
                    }
                  }
                }
              }
            }
          },
          "delete": {
            "tags": ["Menu Management"],
            "summary": "Delete menu item",
            "description": "Delete menu item. Part of Menu Management API.",
            "operationId": "deleteMenu_itemsById",
            "security": [
              {
                "CognitoAuth": []
              }
            ],
            "parameters": [
              {
                "name": "id",
                "in": "path",
                "required": true,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                },
                "description": "Id identifier"
              }
            ],
            "responses": {
              "204": {
                "description": "Resource deleted successfully"
              },
              "400": {
                "$ref": "#/components/responses/BadRequest"
              },
              "401": {
                "$ref": "#/components/responses/Unauthorized"
              },
              "403": {
                "$ref": "#/components/responses/Forbidden"
              },
              "404": {
                "$ref": "#/components/responses/NotFound"
              },
              "500": {
                "$ref": "#/components/responses/InternalServerError"
              }
            },
            "x-rate-limit": "200 requests per minute per user"
          }
        },
        "/menu/search": {
          "get": {
            "tags": ["Menu Management"],
            "summary": "Search menu items",
            "description": "Search menu items. Part of Menu Management API.",
            "operationId": "getMenu_search",
            "security": [
              {
                "CognitoAuth": []
              }
            ],
            "parameters": [],
            "responses": {
              "200": {
                "description": "Operation successful",
                "content": {
                  "application/json": {
                    "schema": {
                      "$ref": "#/components/schemas/SuccessResponse"
                    }
                  }
                }
              },
              "400": {
                "$ref": "#/components/responses/BadRequest"
              },
              "401": {
                "$ref": "#/components/responses/Unauthorized"
              },
              "403": {
                "$ref": "#/components/responses/Forbidden"
              },
              "404": {
                "$ref": "#/components/responses/NotFound"
              },
              "500": {
                "$ref": "#/components/responses/InternalServerError"
              }
            },
            "x-rate-limit": "200 requests per minute per user"
          }
        },
        "/menu/daily": {
          "post": {
            "tags": ["Menu Management"],
            "summary": "Create daily menu plan",
            "description": "Create daily menu plan. Part of Menu Management API.",
            "operationId": "postMenu_daily",
            "security": [
              {
                "CognitoAuth": []
              }
            ],
            "parameters": [],
            "responses": {
              "201": {
                "description": "Resource created successfully",
                "content": {
                  "application/json": {
                    "schema": {
                      "$ref": "#/components/schemas/SuccessResponse"
                    }
                  }
                }
              },
              "400": {
                "$ref": "#/components/responses/BadRequest"
              },
              "401": {
                "$ref": "#/components/responses/Unauthorized"
              },
              "403": {
                "$ref": "#/components/responses/Forbidden"
              },
              "409": {
                "$ref": "#/components/responses/Conflict"
              },
              "500": {
                "$ref": "#/components/responses/InternalServerError"
              }
            },
            "x-rate-limit": "200 requests per minute per user",
            "requestBody": {
              "required": true,
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "object",
                        "description": "menuManagement post data"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "/menu/plans": {
          "post": {
            "tags": ["Menu Management"],
            "summary": "Create meal plan",
            "description": "Create meal plan. Part of Menu Management API.",
            "operationId": "postMenu_plans",
            "security": [
              {
                "CognitoAuth": []
              }
            ],
            "parameters": [
              {
                "$ref": "#/components/parameters/PageParam"
              },
              {
                "$ref": "#/components/parameters/LimitParam"
              },
              {
                "$ref": "#/components/parameters/SearchParam"
              },
              {
                "$ref": "#/components/parameters/SortParam"
              }
            ],
            "responses": {
              "201": {
                "description": "Resource created successfully",
                "content": {
                  "application/json": {
                    "schema": {
                      "$ref": "#/components/schemas/SuccessResponse"
                    }
                  }
                }
              },
              "400": {
                "$ref": "#/components/responses/BadRequest"
              },
              "401": {
                "$ref": "#/components/responses/Unauthorized"
              },
              "403": {
                "$ref": "#/components/responses/Forbidden"
              },
              "409": {
                "$ref": "#/components/responses/Conflict"
              },
              "500": {
                "$ref": "#/components/responses/InternalServerError"
              }
            },
            "x-rate-limit": "200 requests per minute per user",
            "requestBody": {
              "required": true,
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "object",
                        "description": "menuManagement post data"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "/menu/slots": {
          "post": {
            "tags": ["Menu Management"],
            "summary": "Manage meal time slots",
            "description": "Manage meal time slots. Part of Menu Management API.",
            "operationId": "postMenu_slots",
            "security": [
              {
[...]
