{
  "openapi": "3.0.3",
  "info": {
    "title": "HASIVU Platform API",
    "description": "API documentation for the Docker-first HASIVU school meal ordering platform.",
    "version": "1.0.0",
    "contact": {
      "name": "HASIVU Platform Support",
      "email": "support@hasivu.com"
    },
    "license": {
      "name": "Proprietary"
    }
  },
  "servers": [
    {
      "url": "https://app.hasivu.com/api",
      "description": "Production web/API origin"
    },
    {
      "url": "http://localhost:3001/api",
      "description": "Local Docker frontend/BFF origin"
    }
  ],
  "security": [
    {
      "cookieAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "cookieAuth": {
        "type": "apiKey",
        "in": "cookie",
        "name": "accessToken",
        "description": "httpOnly accessToken cookie set by the backend auth flow."
      }
    }
  },
  "paths": {
    "/auth/login": {
      "post": {
        "summary": "Authenticate a user and set httpOnly auth cookies.",
        "responses": {
          "200": {
            "description": "Authenticated"
          },
          "401": {
            "description": "Invalid credentials"
          }
        }
      }
    },
    "/auth/me": {
      "get": {
        "summary": "Return the current cookie-authenticated user profile.",
        "responses": {
          "200": {
            "description": "Authenticated user profile"
          },
          "401": {
            "description": "Authentication required"
          }
        }
      }
    },
    "/orders": {
      "get": {
        "summary": "List orders for the authenticated user.",
        "responses": {
          "200": {
            "description": "Orders returned"
          },
          "401": {
            "description": "Authentication required"
          },
          "503": {
            "description": "Proxy/backend not configured"
          }
        }
      }
    }
  }
}
